.my-location-btn {
    padding: 3px 5px;
    font-size: 13px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 9999;
    cursor: pointer;
    transition: all 0.5s;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.my-location-btn:hover {
    background-color: #007bff !important;
    color: white !important; 
}